{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="jumbotron">
<div class="page-header">
  <h1 class="text-center">Sascha Peter <small>Django Developer</small></h1>
</div>
  <p class="text-justified"></p>
</div>
</div>
<div class="row">
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Development</h3>
</div>
<div class="panel-body">
<ul class="list-group">
  <li class="list-group-item">
  <span class="badge">2.6, 2.7, 3.3</span>
  Python</li>
  <li class="list-group-item">
  <span class="badge">1.4, 1.6, 1.8</span>
  Django</li>
  <li class="list-group-item">HTML</li>
  <li class="list-group-item">CSS</li>
</ul>
</div>
</div>

</div>
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">System Management</h3>
</div>
<div class="panel-body">
<ul class="list-group">
  <li class="list-group-item">
  <span class="badge">Fedora / CentOS</span>
  RedHat linux derivatives</li>
  <li class="list-group-item">
  <span class="badge">Apache</span>
  Webservers</li>
  <li class="list-group-item">
  <span class="badge">MySQL / PostgreSQL</span>
  Databases</li>
  <li class="list-group-item">
  <span class="badge">Zabbix</span>
  Monitoring</li>
</ul>
</div>
</div>

</div>
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Project Management</h3>
</div>
<div class="panel-body">
<ul class="list-group">
  <li class="list-group-item">
  Waterfall</li>
  <li class="list-group-item">
  <span class="badge">Scrum</span>
  Agile</li>
  <li class="list-group-item">
  Git / Git Flow / Github</li>
  <li class="list-group-item">
  Start-Up / SME / On site &amp; remote</li>
</ul>
</div>
</div>

</div>
</div>
{% endblock %}
